---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<BaseLayout title="Coelacanth">
  <h2>Logbook</h2>
    {posts.map(post => (
      <p>
        <small>{post.data.date.toLocaleDateString('en-GB')}</small><br />
        <b><a href={`/blog/${post.slug}/`}>{post.data.title}</a></b>
        <br />
        {post.data.description}
        <br /><br />
      </p>
    ))}
</BaseLayout>
