---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('logbook');

  // Get all unique tags
  const tags = [...new Set(posts.flatMap(post => post.data.tags || []))];

  return tags.map(tag => ({
    params: { tag: tag.toLowerCase() },
    props: {
      tag,
      posts: posts
        .filter(post => post.data.tags?.includes(tag))
        .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf()),
    },
  }));
}

const { tag, posts } = Astro.props;
---

<BaseLayout title="Coelacanth">
  <h2>{tag}</h2>
  {posts.map(post => (
    <p>
      <small>{post.data.date.toLocaleDateString('en-GB')}</small><br />
      <b><a href={`/logbook/${post.slug}/`}>{post.data.title}</a></b>
      <br />
      {post.data.description}
      <br /><br />
    </p>
  ))}
  <p><a href="/logbook/">← Back to Logbook</a></p>
</BaseLayout>
